body {
    background-image: url("../images/background.jpeg");
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

.container {
    width: 600px;
    display: flex;
    margin-left: 5px;
}

#title {
    line-height: 2.0;
    background-color: #cc2900;
    color: #ffffff;
    max-width: 300px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

#instructions {
    line-height: 1.6;
    background-color: #d2a679;
    color: #1f7a1f;
    font-weight: bold;
    padding:10px 0 60px 5px;
    margin-left: 5px;
}

#rndNumBox {
    background-color: #00ff99;
    color: #cc66ff;
    height: 100px;
    box-sizing:border-box;
    flex: 0 0 65%;
    font-size: 26px;
    padding: 5px 10px 5px 10px;
    text-align:center;
    font-weight:bold;
}

#scoreboard {
    background-color: #33ccff;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    margin-left: 10px;
    flex: 1;
    font-size:20px;
    font-weight:bold;
}

.gemContainer {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-left: 5px;
}

.totalScore {
    background-color: #0066ff;
    color: #ffffff;
    width: 300px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
}

#scoreBox {
    height: 100px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
}